/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

.timer-container {
    position: relative;
    width: 80%;
    max-width: 700px;
}

.progress-bar {
    position: absolute;

    height: 40px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.current-time-marker {
    position: absolute;
    width: 0;
    align-self: start;
    height: 40px;
    background-color: rgba(17, 134, 115, 0.702);
    transform-origin: left center;
    transition: width 0.5s ease-in-out;
    z-index: 1;
    right: 0;
}

.event-marker {
    position: absolute;
    top: 0;
    height: 38%;
    background-color: orange;
    z-index: 2;
}

#currentTimeDisplay {
    position: absolute;
    top: calc(50% - 100px);
    align-self: center bottom;
    text-align: center bottom;

    font-size: 60px;
    font-family: Arial, sans-serif; /* Added font family */
    font-weight: bold; /* Added bold font weight */
    color: #484545; /* Added font color */
}


.during-setting {
    position: relative;
    height: 60px;
    margin: 30px;
    /* 设置阴影 */
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    /* 设置card的背景色 */
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.timer-self{
    position: relative;
    height: 300px;

    /* 设置阴影 */
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    /* 设置card的背景色 */
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}


input[type="time" i] {
    width: 20%;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-family: Arial, sans-serif; /* Added font family */
    font-weight: bold; /* Added bold font weight */
    color: #333; /* Added font color */
}

input[type="text" i] {
    width: 20%;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-family: Arial, sans-serif; /* Added font family */
    font-weight: bold; /* Added bold font weight */
    color: #333; /* Added font color */
}

button {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin: 10px 20px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.eventTitle {
    position: absolute;
    display: block;
    padding: 6px 16px;
    background: #d1e4dd;
    color: #000;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin: 0px 0px;
}